
body {
    background-color: #bbbbbb;
}

#main {
    margin: auto;
    width: 700px;
    text-align: center;
}

.section {
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 0px 30px #222222;
}

#navbar {
}

#welcome {
    float: left;
}

#logout {
    float: right;
}

#calendar {
    text-align: center;
    padding: 10px;
}

#calendar-table {
    background-color: #EEEEEE;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
}

.calendar-row {
}

.datecell {
    width: 50px;
    height: 50px;
    border: 1px solid #DDDDDD;
    vertical-align: top;
    cursor: pointer;
    cursor: hand;
    font-size: 14px;
    padding: 0px 2px;
}

.todaycell {
    background-color: #FFDDDD;
    color: #CC4444;
}

.selected-datecell {
    border: 1px solid #000000;
    background-color: #CCCCCC;
}

.todaycell.selected-datecell {
    background-color: #CCAAAA;
}

#calendar-table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

#calendar-table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

#wall {
    width: 330px;
    float: left;
}

#stats {
    width: 330px;
    float: right;
}

.tooltiptext{
    display: none;
}
