
body {
    background-color: #bbbbbb;
}

#main {
    margin: auto;
    width: 700px;
}

.section {
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 0px 30px #222222;
}

#navbar {
}

#welcome {
    float: left;
}

#logout {
    float: right;
}

#wall {
    width: 330px;
    float: left;
}

#stats {
    width: 330px;
    float: right;
}
