
body {
    background-color: #bbbbbb;
}

input[type=submit] {
width:100px;
right:20px;
bottom:10px;
background:#09C;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1p solid #999;
}
input[type=submit]:hover {
background:#fff;
color:#09C;
}

input {
width:200px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


#signupDiv input {
    float:right;
    clear:both;
}

#signupDiv label {
    float:right;
    clear:both;
}

#main {
    margin: auto;
    width: 700px;
    text-align: center;
}

#welcome , #logout {
font-family: Helvetica, Tahoma, Geneva, sans-serif;
font-size: 14px;
font-weight: bold;
line-height: 24px;
}

.weekdaycell, .goal-tab {
font-family: Helvetica, Tahoma, Geneva, sans-serif;
font-size: 12px;
font-weight: bold;
line-height: 24px;
}
.datecell {
font-family: Helvetica, Tahoma, Geneva, sans-serif;
font-size: 10px;
line-height: 24px;
}

.section {
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 0px 30px #222222;
}

.qtip-title {
font-family: Helvetica, Tahoma, Geneva, sans-serif;
font-size: 12px;
font-weight: bold;
color: #09C;
}

textarea {
    width:200px;
    height:40px;
    display:block;
}

textarea:focus, input:focus {
    border: 1px solid #09C;
}

form    {
margin:auto;
position:relative;
font-family: Helvetica, Tahoma, Geneva, sans-serif;
font-size: 12px;
line-height: 24px;
color: #09C;
text-decoration: none;
}



select {
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#navbar {
}

#welcome {
    float: left;
}

#logout {
    float: right;
}

#calendar {
    text-align: center;
    padding: 10px;
}

#calendar-table {
    background-color: #EEEEEE;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
}

.calendar-row {
    border: 1px solid gray;
}

.datecell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    vertical-align: top;
}

.summary-star {
    width: 25px;
    height: 25px;
}

.goal-icon {
    width: 25px;
    height: 25px;
}


.todaycell {
    background-color: #FFDDDD;
    color: #CC4444;
}

.goal-color-0 {
    color: red;
}

.goal-color-1 {
    color: green;
}

.goal-color-2 {
    color: blue;
}

.goal-wall-entry {
    float: left;
    margin-left: 4px;
}

#wall {
    width: 330px;
    height:300px;
    font-family: Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    float: left;
}

.wall-day:nth-child(odd) {
    background-color: #F7F7FF;
}

.wall-star {
    float: right;
}

#wall-data {
    font-family: Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 12px;
    width: 330px;
    height: 235px;
    overflow: scroll;
    overflow-x: hidden;
}

.wall-entry {
    text-align: left;
}

#stats {
    width: 330px;
    float: right;
}

.tooltiptext{
    display: none;
}

