<html>
<head>
    <title>Start</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/calendar.css">
    <link rel="stylesheet" type="text/css" href="/static/auth/style.css">
    <script type='text/javascript' src='/static/jquery.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery.qtip.min.css">
    <script type='text/javascript' src='/static/jquery.qtip.min.js'></script>
    <script type='text/javascript' src='/static/popup.js'></script>
    <script type='text/javascript' src='/static/calendar.js'></script>
</head>

<body>
<div id='main'>

<img src='/static/logo.png' />

{% block navbar %}
<div id='navbar' class='section'>
    <span id='welcome'>Welcome {{ user.username }}</span>
    <span id='logout'><a href='/auth/logout'>Logout</a></span>
    <div class='cleardiv'></div>
</div>
{% endblock %}

<div id='content'>
{% block content %}
&nbsp;
{% endblock %}
</div>

</div>
</body>
</html>

