
<input id='create_new_goal' value='New Goal' type='submit'>
<div id='calendar'>
<table id='calendar-table' class='section'>
<tr>
{% for weekday in weekdays %}
    <th class='weekdaycell'>{{weekday}}</th>
{% endfor %}
</tr>
{% for week in weeks %}
    <tr class='calendar-row'>
    {% for day in week %}
        <td id='datecell_{{day.date | date:"Y-m-d"}}' class='datecell {% if day.istoday %}todaycell{% endif %} {% if day.isSelected %}selected-datecell{% endif %}'>{{day.date.day}}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
</div>
