
<div id='calendar'>

<div id='calendar-container'>

<div id='goal-tabs'>
{% for goal in goals %}
    <div class='goal-tab'>{{ goal.title }}</div>
{% endfor %}
<span id='create_new_goal2' class='goal-tab'>+</span>
<div id="new_goal_container" class="tooltiptext">
{% include 'new_goal.html' %}
</div>
</div>

<table id='calendar-table' class='section'>
<tr>
{% for weekday in weekdays %}
    <th class='weekdaycell'>{{weekday}}</th>
{% endfor %}
</tr>
{% for week in weeks %}
    <tr class='calendar-row'>
    {% for day in week %}
        <td id='datecell_{{day.date | date:"Y-m-d"}}' class='datecell {% if day.istoday %}todaycell{% endif %} {% if day.isSelected %}selected-datecell{% endif %}'>{% if day.date.day == 1 %}{{day.date | date:"j M"}}{% else %}{{day.date | date:"j"}}{% endif %}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
</div>
</div>
