<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/jquery.qtip.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type='text/javascript' src='/static/jquery.js'></script>
    <script type='text/javascript' src='/static/jquery.qtip.min.js'></script>
    <script type='text/javascript' src='/static/popup.js'></script>
</head>
<body>



<a href="#test">Sample link</a>
<div class="tooltiptext">
	<form name='create_new_goal' id='create_new_goal' method="post">

	{%csrf_token %}
	{{ form.as_p  }}

	<div id='submit_button_container'>
		<input id='submit_new_goal' value='Create' type='submit'>
	</div>

	</form>
</div>

</body>
</html>
