<div id='stats' class='section'>
<div id='chart'>
<script type="text/javascript">
	var data_gold = new Array;
	var data_silver = new Array;
	var data_bronze = new Array;
	var labels = new Array;
	var index;
	for (index = 0; index <5 ; index++) {
		data_gold[index] = 0;
		data_silver[index] = 0;
		data_bronze[index] = 0;
	}
	{% for week in weeks %}
	{% for caldate in week %}
	{% for goalentry in caldate.entries.values %}
		if ({{goalentry.starcolor}} == 1) {
			data_gold[{{goalentry.goal.id}} - 1]++;
		} else if ({{goalentry.starcolor}} == 2) {
			data_silver[{{goalentry.goal.id}} - 1]++;
		} else if ({{goalentry.starcolor}} == 3) {
			data_bronze[{{goalentry.goal.id}} - 1]++;
		}
		labels[{{goalentry.goal.id}} - 1] = "{{goalentry.goal.title}}";
	{% endfor %}	
	{% endfor %}
	{% endfor %}
//	<div class='stat-tab-summary'>
	PrintStackedBarChart(data_gold, data_silver, data_bronze, labels);
//	</div>
//	for (index = 0; index < 5; index++) {
//		<div class='stat-tab-
//	index = 0;
//	PrintPieChart(data_gold[index], data_silver[index], data_bronze[index], labels[index]);
//		</div>
//	}
</script>
</div>
</div>
