<div id='wall' class='section'>
<h3>Goal Wall</h3>
<hr>
<div id='wall-data'>
<h4>{{date}}</h4>
{% for week in weeks %}
{% for caldate in week %}
{% if caldate.entries %}
{{caldate.date}}
{% endif %}
{% for goalentry in caldate.entries.values %}
<div id='wall-entry'>
<p align='left'>
<img class='goal-icon' src='static/icons/{{goalentry.goal.id}}.png'>
<b>{{goalentry.goal.title}}</b>
<br>
{% if goalentry.starcolor == 1 %}
	<img class='summary-star' src='static/stars/bronze.png'>
{% elif goalentry.starcolor == 2 %}
	<img class='summary-star' src='static/stars/silver.png'>
{% elif goalentry.starcolor == 3 %}
	<img class='summary-star' src='static/stars/gold.png'>
{% endif %}
<br>
{{goalentry.goal.stat_desc}} {{goalentry.stat}}
<br>
Description: {{goalentry.desc}}
</p>
<hr>
</div>
{% endfor %}
{% endfor %}
{% endfor %}
</div>
</div>

