<div id='wall' class='section'>
<h3>Goal Wall</h3>
<hr>
<div id='wall-data'>
{% for week in weeks reversed %}
    {% for caldate in week reversed %}
        {% if caldate.entries %}
            <div class='wall-day'>
                <div>{{caldate.date | date:"M d"}}</div>
                {% for goalentry in caldate.entries.values %}
                    <div id='wall-entry'>
                        {% if goalentry.starcolor == 1 %}
                        	<img class='summary-star wall-star' src='static/stars/bronze.png'>
                        {% elif goalentry.starcolor == 2 %}
                        	<img class='summary-star wall-star' src='static/stars/silver.png'>
                        {% elif goalentry.starcolor == 3 %}
                        	<img class='summary-star wall-star' src='static/stars/gold.png'>
                        {% endif %}
                        <div class='goal-wall-entry'>
                            [<span class='goal-color-{{goalentry.goal.icon}}'>{{goalentry.goal.title}}</span>] 
                        </div>
                        <div class='goal-wall-entry'>
                            {{goalentry.desc}}
                        </div>
                        <div class='cleardiv'></div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
</div>

