<div id='wall' class='section'>
<h3>Goal Wall</h3>
<hr>
<div id='wall-data'>
<h4>{{date}}</h4>
{% for goalentry in goalentry_list %}
{{goalentry.entrydate}}
<div id='wall-entry'>
<p align='left'>
<img class='goal-icon' src='static/icons/{{goalentry.goal.id}}.png'>
<b>{{goalentry.goal.title}}</b>
{% if goalentry.starcolor == 1 %}
	<img class='summary-star' src='static/stars/bronze.png'>
{% elif goalentry.starcolor == 2 %}
	<img class='summary-star' src='static/stars/silver.png'>
{% elif goalentry.starcolor == 3 %}
	<img class='summary-star' src='static/stars/gold.png'>
{% endif %}
<br>
{{goalentry.goal.stat_desc}} {{goalentry.stat}}
<br>
{{goalentry.desc}}
</p>
</div>
{% endfor %}
</div>
</div>

